@font-face { font-family:'BarlowCondensed-BoldItalic'; src: url('BarlowCondensed-BoldItalic.woff') format('woff');}

*{margin: 0; padding:0;}
body { margin: 50px auto; max-width: 320px; font-family: -apple-system, Helvetica, sans-serif; font-size:16px; line-height: 140%; word-spacing: -1px; background: linear-gradient(white, PapayaWhip); }
h1{font-weight: normal; font-size: 36px; line-height: 120%; font-family: "BarlowCondensed-BoldItalic"; display: inline-block; width: 100%; letter-spacing: 2px;}
h1 .right{text-align: right; width: 100%; display: block;}
h1, p, figure {margin-bottom: 20px; }
q.outloud{font-weight: normal; font-size: 24px; line-height: 140%; font-family: "BarlowCondensed-BoldItalic"; letter-spacing: 1px;}
figure{}
img{width: 100%;   }
.contacts{margin-bottom: 40px; text-align: center;}
.contacts a{font-size: 24px; line-height: 140%; font-family: "BarlowCondensed-BoldItalic"; letter-spacing: 1px;}
p.small{font-size: 14px;}
hr { margin: 20px 0; height: 3px; border-width: 0; color: blue; background-color: black; }
footer{font-size: 14px; line-height: 120%;}
sub, sup{line-height: 10%;}
